+block(bg)
    for $key, $value in $colors
        if (typeof($value) == object)
            for $sub-key, $sub-value in $value
                +modifier($key, $sub-key)
                    background-color: $sub-value
                    border-color: $sub-value
                    color: #fff if $sub-key>=300

                if ($sub-key == '500')
                    +modifier($key)
                        background-color: $sub-value
                        border-color: $sub-value
                        color: #fff

+block(fg)
    for $key, $value in $colors
        if (typeof($value) == object)
            for $sub-key, $sub-value in $value
                +modifier($key, $sub-key)
                    color: $sub-value

                if ($sub-key == '500')
                    +modifier($key)
                        color: $sub-value
