for $point,$value in $points
  if $value!=0
    @media (min-width: $value)
      grid($point)










    // for $item in xs sm md lg xl
    //   for n in 1...$grid-count+1
    //     $percent = tofixed(n)
    //     .{BEM(col,$item,n)}
    //       width: $percent
    //     .{BEM(offset,$item,n)}
    //       margin-left: $percent
      // $v = lookup("$gutter-"+$item)
      // .{BEM(gutter,$point,$item)}
      //     margin-right: - $v
      //     margin-bottom: - $v
      //     &>.{BEM(col)}
      //         padding-right: $v
      //         padding-bottom: $v


















// @supports not (display:grid)

