$keys = keys($points)

for $point, $value in $points
  if ($value != 0)
    $i = index($sizes, $point) - 1

    @media (min-width: $value)
      for item in 1 .. $grid-count
        +block('col')
          +modifier($point, item)
            width: tofixed(item)

      .on--{$keys[$i]}
        display: none

    @media (max-width: $value)
      .off--{$keys[$i + 1]}
        display: none
